:root {
    --bg: white;
    --fg: black;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi/Satoshi-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}


html, body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    color: var(--fg);
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: all 0.3s ease-in-out;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* NAVIGATION */
nav {
    top: 0;

    border-bottom: 2px solid var(--fg);
    padding: 0.25em 0.8em;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    z-index: 1000;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

nav .title {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

nav .links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2em;
}

nav .links a {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--fg);
    text-decoration: none;
    transition: all 0.05s ease-in-out;
}

nav .links a:hover {
    scale: 1.1;
}

.theme-button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: var(--fg);
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;
    line-height: 1;
}

.theme-button img {
    height: 2em;
    aspect-ratio: 1/1;
}

/* SCROLLBAR */
.scrollbar-container {
    position: fixed;
    height: 50%;
    width: 1em;
    right: 1em;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    z-index: 9999;
    background-color: var(--bg);
    overflow: hidden;
    border: 2px solid var(--fg);
    transition: all 0.3s ease-in-out;
}

#scrollbar-bg {
    background-color: var(--fg);
    height: 0%;
    width: 100%;
    border-radius: 1em;
    transition: background-color 0.3s ease-out, height 0.05s ease-out;
}

.post-container {
    margin: 5em 3em 0em 3em;
    display: flex;
}

.post-container .column {
    width: calc(100% / 3);
    padding: 0em 0.5em;
}

.card {
    width: 100%;
    border: 2px solid var(--fg);
    margin-bottom: 1em;
    display: block;
    color: var(--fg);
    text-decoration: none;
    position: relative;
    opacity: 0;
    transition: all 0.3s ease-in-out, scale 0.1s ease-in-out;
    overflow: hidden;
}

.card.visible {
    opacity: 1;
}

.card:hover {
    scale: 1.03;
}

.card img {
    filter: grayscale();
    width: 100%;
    border-bottom: 2px solid var(--fg);
    transition: all 0.5s ease-in-out;
}

.card:hover img {
    filter: none;
}

.card span {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card span h1 {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 0.05em;
}

.card span span {
    font-size: 1em;
    opacity: 0.5;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
}

.new-post {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.2em;
    background-color: var(--bg);
    margin: 0;
    font-weight: 500;
    font-size: 1.25em;
}

footer {
    margin-top: 4em;
    height: 8em;
    border-top: 2px solid var(--fg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer span, footer a {
    color: var(--fg);
    font-weight: 500;
    letter-spacing: 0.05em;
}

.construction {
    color: var(--fg);

    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}